<div *ngIf="dataLoaded | async; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="u-grid u-grid-cols-2 u-gap-x-24 u-mt-12">
    <div class="u-col-span-1">
      <app-word-form [game]="game" [word]="word" [gameWord]="gameWord" (onGuessWord)="submitWord($event)" (onNextRound)="nextRound($event)"></app-word-form>
    </div>
    <div class="u-col-span-1">
      <app-final-word-form [game]="game" [finalWord]="finalWord" (onGuessFinalWord)="submitFinalWord($event)"></app-final-word-form>
    </div>
  </div>
</ng-template>

<ng-template class="lds-ring" #elseBlock>
  <div class="loading-spinner-container">
    <div class="loading-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>