<form (ngSubmit)="onSubmit()" class="u-pt-1 u-flex u-items-center">
  <input
    class="u-w-[250px] u-h-6 u-shadow u-appearance-none u-border u-rounded u-py-3 u-px-3 u-text-gray-700 u-leading-tight u-focus:outline-none u-text-[12px] u-focus:shadow-outline"
    type="guessedFinalWord"
    name="guessedFinalWord"
    [(ngModel)]="guessedFinalWord"
    id="guessedFinalWord"
  />
  <button class="u-bg-white hover:u-bg-gray-100 u-text-gray-800 u-font-semibold u-text-[10px] u-py-0.5 u-px-2 u-border u-border-gray-300 u-rounded u-h-[26px] u-ml-1 u-flex u-items-center" type="submit">
    Submit
  </button>
</form>