<nav class="u-bg-gray-800 lg:u-rounded-t">
  <div class="u-max-w-7xl u-mx-auto u-px-2 sm:u-px-6 lg:u-px-8">
    <div class="u-relative u-flex u-items-center u-justify-between u-h-16">
      <div class="u-flex-1 u-flex u-items-center u-justify-center sm:u-items-stretch sm:u-justify-start">
        <div class="u-flex-shrink-0 u-flex u-items-center">
          <img class="u-block u-h-8 u-w-auto" src="assets/lingo-logo.png" alt="Workflow">
        </div>
        <div class="u-hidden sm:u-block sm:u-ml-6">
          <div class="u-flex u-space-x-4">
            <a routerLink="/gameList" [ngClass]="{'bg-gray-900 text-white': hasRoute('/gameList')}" class="u-text-gray-300 hover:u-bg-gray-700 hover:u-text-white u-px-3 u-py-2 u-rounded-md u-text-sm u-font-medium">Games</a>
            <a routerLink="/content" [ngClass]="{'bg-gray-900 text-white': hasRoute('/content')}" class="u-text-gray-300 hover:u-bg-gray-700 hover:u-text-white u-px-3 u-py-2 u-rounded-md u-text-sm u-font-medium">Content</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-block md:u-hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 u-text-center">
      <a routerLink="/gameList" [ngClass]="{'bg-gray-900 text-white': hasRoute('/gameList')}" class="u-text-gray-300 hover:u-bg-gray-700 hover:u-text-white u-px-3 u-py-2 u-rounded-md u-text-sm u-font-medium">Games</a>
      <a routerLink="/content" [ngClass]="{'bg-gray-900 text-white': hasRoute('/content')}" class="u-text-gray-300 hover:u-bg-gray-700 hover:u-text-white u-px-3 u-py-2 u-rounded-md u-text-sm u-font-medium">Content</a>
    </div>
  </div>
</nav>
