<form class="u-w-full" (ngSubmit)="onSubmit()">
  <div class="u-flex u-items-center u-border-b u-border-gray-800 u-py-2">
    <input
      class="u-appearance-none u-bg-transparent u-border-none u-w-full u-text-gray-700 u-mr-3 u-py-1 u-px-2 u-leading-tight focus:u-outline-none"
      type="name"
      name="name"
      [(ngModel)]="name"
      id="name"
      placeholder="Add Word"
    />
    <button class="u-flex-shrink-0 u-bg-gray-800 hover:u-bg-gray-700 u-border-gray-800 hover:u-border-gray-800 u-text-sm u-border-4 u-text-white u-py-1 u-px-2 u-rounded" type="submit">
      Add
    </button>
  </div>
</form>