<p class="u-text-3xl u-text-gray-800 u-pb-6">Words</p>
<app-add-word (onAddWord)="addWord($event)"></app-add-word>
<div class="u-flex u-flex-col">
  <div class="u-overflow-x-auto">
    <div class="u-py-4 u-inline-block u-min-w-full">
      <div class="u-overflow-x-auto u-max-h-[400px]">
        <table class="u-min-w-full u-text-center">
          <thead class="u-border-b u-bg-gray-800">
          <tr>
            <th scope="col" class="u-text-sm u-font-medium u-text-white u-px-6 u-py-4">
              Word
            </th>
            <th scope="col" class="u-text-sm u-font-medium u-text-white u-px-6 u-py-4">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="u-bg-white u-border-b" *ngFor="let word of words">
            <td class="u-text-sm u-text-gray-900 u-font-light u-px-6 u-py-4 u-whitespace-nowrap">
              {{word.name}}
            </td>
            <td class="u-text-sm u-text-gray-900 u-font-light u-px-6 u-py-4 u-whitespace-nowrap">
              <div class="u-flex u-justify-center">
                <div class="u-flex u-space-x-2 u-justify-center">
                  <button (click)="removeWord(word)" class="u-bg-white hover:u-bg-gray-100 u-text-gray-800 u-font-semibold u-text-xs u-py-1.5 u-px-4 u-border u-border-gray-400 u-rounded">
                    Delete
                  </button>
                </div>
                <div class="u-flex u-space-x-2 u-justify-center">
                  <div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>