<div class="words u-border u-border-gray-200 u-py-6 u-bg-white u-rounded">
  <ul id="words u-w-full">
    <li *ngFor="let a of wordArray; let wordIndex = index">
      <div id="word_{{wordIndex}}" class="u-flex u-justify-center u-items-center u-flex-1">
        <div class="u-flex u-items-center" *ngFor="let a of letterArray; let letterIndex = index">
          <div id="letter_{{letterIndex}}" class="u-border u-border-gray-300 u-rounded u-bg-white u-text-center u-min-w-[50px] u-min-h-[46px] u-text-[30px]"></div>
        </div>
      </div>
    </li>
  </ul>
  <form (ngSubmit)="onSubmit()" class="u-flex u-justify-center u-items-center u-mt-[24px] u-w-full">
    <input
      [disabled]="wordFormDisabled"
      class="u-w-[258px] u-shadow u-appearance-none u-border u-rounded u-py-2 u-px-3 u-text-gray-700 u-leading-tight u-focus:outline-none u-focus:shadow-outline"
      type="guessedWord"
      name="guessedWord"
      [(ngModel)]="guessedWord"
      id="guessedWord"
      maxlength="6"
    />
    <div class="u-ml-1">
      <button [disabled]="wordFormDisabled" [ngClass]="{'hover:u-bg-gray-700 hover:u-border-gray-800 u-w-full u-bg-gray-800 u-border-gray-800': !wordFormDisabled, 'u-bg-gray-400 u-border-gray-400': wordFormDisabled}" class="form-element u-w-[38px] u-h-[38px] u-text-white u-rounded" type="submit">
        <mat-icon aria-label="Submit word" class="u-text-lg">send</mat-icon>
      </button>
    </div>
  </form>
</div>

